# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
eugenio-client/node_modules/
eugenio-server/node_modules/

dist
dist-ssr
*.local

# Environment variables
eugenio-client/.env
eugenio-client/.env.local
eugenio-server/.env.example
eugenio-server/.env
eugenio-server/.env.local
eugenio-server/.env.example
.env.example

# Vercel
.vercel/
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?